In [47]:
import numpy as np
import pandas as pd
import seaborn as sns
import chardet

def explore_dataset(df=housing_data):
    print("Number of columns in dataset: {0}".format(len(df.columns)))
    
    print("**********************************************************************************************\n")
    
    print("Column names:")
    print(df.columns.values)
    
    print("**********************************************************************************************\n")
    
    print("Here are the first 5 rows:")
    print(df.head())
    
    print("**********************************************************************************************\n")
    
    print(df.describe())
    
    
    print("**********************************************************************************************\n")
    
    #check for missing values
    print("Number of missing values per column:")
    print(df.isnull().sum())
    
    print("**********************************************************************************************\n")
    
    #Is the variable continuous, count, ordinal, categorial, missing, censored
    print("Column Types:")
    print(df.dtypes)
    
    print("**********************************************************************************************\n")
    
    #Is there inconsistent text entry in a column
    
    #make histograms
    
    #make boxplots
    pass

In [7]:
#pokemon = pd.read_csv("Pokemon.csv") #file isn't utf-8

# look at the first ten thousand bytes to guess the character encoding
with open("Pokemon.csv", 'rb') as rawdata:
    result = chardet.detect(rawdata.read(10000))

# check what the character encoding might be
print(result)

{'encoding': 'Windows-1252', 'confidence': 0.7260862905284656, 'language': ''}

In [8]:
pokemon = pd.read_csv("Pokemon.csv", encoding = 'Windows-1252')

In [48]:
explore_dataset()

Number of columns in dataset: 14
**********************************************************************************************

Column names:
['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT' 'MEDV']
**********************************************************************************************

Here are the first 5 rows:
      CRIM ZN INDUS CHAS    NOX     RM   AGE     DIS RAD  TAX PTRATIO       B  \
0  0.02731  0  7.07    0  0.469  6.421  78.9  4.9671   2  242    17.8   396.9
1  0.02729  0  7.07    0  0.469  7.185  61.1  4.9671   2  242    17.8  392.83
2  0.03237  0  2.18    0  0.458  6.998  45.8  6.0622   3  222    18.7  394.63
3  0.06905  0  2.18    0  0.458  7.147  54.2  6.0622   3  222    18.7   396.9
4  0.02985  0  2.18    0  0.458   6.43  58.7  6.0622   3  222    18.7  394.12

  LSTAT  MEDV
0  9.14  21.6
1  4.03  34.7
2  2.94  33.4
3  5.33  36.2
4  5.21  28.7
**********************************************************************************************

             CRIM     ZN  INDUS  CHAS      NOX       RM    AGE       DIS  RAD  \
count   506.00000  506.0  506.0   506  506.000  506.000  506.0  506.0000  506
unique  504.00000   26.0   76.0     3   82.000  446.000  357.0  412.0000   10
top       0.01501    0.0   18.1     0    0.538    5.713  100.0    3.4952   24
freq      2.00000  372.0  132.0   470   22.000    3.000   43.0    5.0000  132

        TAX  PTRATIO      B  LSTAT   MEDV
count   506    506.0  506.0  506.0  506.0
unique   67     47.0  358.0  455.0  230.0
top     666     20.2  396.9   14.1   50.0
freq    132    140.0  120.0    3.0   16.0
**********************************************************************************************

Number of missing values per column:
CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64
**********************************************************************************************

Column Types:
CRIM       object
ZN         object
INDUS      object
CHAS       object
NOX        object
RM         object
AGE        object
DIS        object
RAD        object
TAX        object
PTRATIO    object
B          object
LSTAT      object
MEDV       object
dtype: object
**********************************************************************************************

In [12]:
#boston_housing = pd.read_csv("boston_housing.csv")

# look at the first ten thousand bytes to guess the character encoding
with open("boston_housing.csv", 'rb') as rawdata:
    result = chardet.detect(rawdata.read(10000))

# check what the character encoding might be
print(result)

{'encoding': 'ISO-8859-1', 'confidence': 0.7091144414168937, 'language': ''}

In [13]:
boston_housing = pd.read_csv("boston_housing.csv", encoding = 'ISO-8859-1')

In [15]:
boston_housing.head()
pokemon.head()

                                                                                                                                bplist00Ñ_WebMainResourceÕ\t


_WebResourceData_WebResourceMIMEType_We... Name       Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed Stage                              Legendary
1                                                  Bulbasaur  Grass  Poison 318   45 49     49      65      65      45    1                                      FALSE
2                                                  Ivysaur    Grass  Poison 405   60 62     63      80      80      60    2                                      FALSE
3                                                  Venusaur   Grass  Poison 525   80 82     83      100     100     80    3                                      FALSE
4                                                  Charmander Fire   NaN    309   39 52     43      60      50      65    1                                      FALSE

In [16]:
housing_data = pd.read_csv("housingdata.csv")

In [41]:
new_row = list(housing_data.columns.values)
housing_data.loc[len(housing_data)] = new_row

In [45]:
housing_data.columns = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO',
                       'B', 'LSTAT', 'MEDV']